# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logsfiles and temfiles.
/log/*.log
/tmp

# Ignore other undeed files
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret